/**
 * index.css
 *
 * アプリ全体のグローバルスタイルを定義するファイルです。
 * 
 * ここで設定したスタイルは、すべてのコンポーネントに影響します。
 * 例：
 * - body の余白リセット
 * - フォント設定
 * - HTML の基本要素（h1, p, a など）の共通スタイル
 */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}